@import url(‘https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap’);

•	{
	Margin: 0;
	Padding: 0;
	Box-sizing: border-box;
	Text-decoration: none;
}

Html {
	Scroll-behavior: smooth;
}

.max-width {
	Max-width: 1300px;
	Padding: 0 80px;
	Margin: auto;
}

/NAVBAR STYLING/

.navbar {
	Position: fixed;
	Width: 100%;
	z-index: 999;
	padding: 30px 0;
	font-family: ‘Ubuntu’, sans-serif;
	transition: all 0.3s ease;
}

.navbar.sticky {
	Padding: 15px 0;
	Background: blueviolet;
}

.navbar .max-width {
	Display: flex;
	Align-items: center;
	Justify-content: space-between;
}

.navbar .logo a {
	Font-size: 35px;
	Font-weight: 600;
	Color: #fff;
}

.navbar .logo a span {
	Color: blueviolet;
	Transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
	Color: #fff;
}

.navbar .menu li {
	List-style: none;
	Display: inline-block;
}

.navbar .menu li a {
	Color: #fff;
	Font-size: 18px;
	Font-weight: 500;
	Margin-left: 25px;
	Transition: color 0.3s ease;
}

.navbar .menu li a:hover {
	Color: blueviolet;
}

.navbar.sticky .menu li a:hover {
	Color: Black;
}

/Menu Btn Styling/

.menu-btn {
	Color: #fff;
	Font-size: 23px;
	Cursor: pointer;
	Display: none;
}

.scroll-up-btn {
	Position: fixed;
	Height: 45px;
	Width: 42px;
	Background: crimson;
	Right: 30px;
	Bottom: 10px;
	Text-align: center;
	Line-height: 45px;
	Color: #fff;
	z-index: 9999;
	font-size: 30px;
	border-radius: 6px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3 ease;
}

.scroll-up-btn.show {
	Bottom: 30px;
	Opacity: 1;
	Pointer-events: none;
}

/Styling Home Section/

.home {
	Display:  flex;
	Background: url(“banner.jpg”) no-repeat center;
	Height: 100vh;
	Color: #fff;
	Min-height: 500px;
	Font-family: ‘Ubuntu’, sans-serif;
}

.home .max-width {
	Margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
	Font-size: 27px;
}

.home .home-content .text-2 {
	Font-size: 75px;
	Font-weight: 600;
	Margin: -3px;
}

.home .home-content .text-3 {
	Font-size: 40px;
	Margin: 5px 0;
}

.home .home-content .text-3 span {
	Color: darkgoldenrod;
	Font-weight: 500;
}

.home .home-content a {
	Display: inline-block;
	Background: blueviolet;
	Color: #fff;
	Font-size: 25px;
	Padding: 12px 36px;
	Margin-top: 20px;
	Broder-radius: 6px;
	Border: 2px solid blueviolet;
	Transition: all 0.3s ease;
}

.home .home-content a:hover {
	Color: darkgoldenrod;
	Background: none;
}

/All Similar Content Styling Code/
Section {
	Padding: 100px 0;
}

.about, .services, .skills, .teams, .contact {
	Font-family: ‘Poppins’, sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
	Display: flex;
	Flex-wrap: wrap;
	Align-items: center;
	Justify-content: space-between;
}

Section .title {
	Position: relative;
	Text-align: center;
	Font-size: 40px;
	Font-weight: 500;
	Margin-bottom: 60px;
	Padding-bottom: 20px;
	Font-family: ‘Ubuntu’, sans-serif;
}

Section .title::before {
	Content: “”;
	Position: absolute;
	Bottom :0px;
	Left: 50%;
	Width: 180px;
	Height: 3px;
	Background: #111;
	Transform: translateX(-50%);
}

Section .title::after {
	Position: absolute;
	Bottom: -12px;
	Left: 50%;
	Font-size: 20px;
	Color: blueviolet;
	Padding: 5px;
	Background: #fff;
	Transform: translateX(-50%);
}

/about section styling/

.about .title::after {
	Content: “who I am”;
}

.about .about-content .left {
	Width: 45%;
}

.about .about-content .left img {
	Height: 400px;
	Width: 400px;
	Object-fit: cover;
	Border-radius: 6px;
}

.about .about-content .right {
	Width: 55%;
}

.about .about-content .right .text {
	Font-size: 25px;
	Font-weight: 600;
	Margin-bottom: 10px;
}

.about .about-content .right .text span{
	Color: royalblue;
}

.about .about-content .right p {
	Text-align: justify;
}

.about .about-content .right a {
	Display: inline-block;
	Background: blueviolet;
	Color: #fff;
	Font-size: 20px;
	Font-weight: 500;
	Padding: 10px 30px;
	Margin-top: 20px;
	Border-radius: 6px;
	Border: 2px solid blueviolet;
	Transition: all 0.3s ease;
}

.about .about-content .right a:hover {
	Color: royalblue;
	Background: none;
}

/Section Services Styling/

.services, .teams {
	Color: #fff;
	Background: #111;
}

.services .title::before,
.teams .title::before {
	Background: #fff;
}

.services .title::after,
.teams .title::after {
	Background: #111;
	Content: “what I provide”;
}

.services .serv-content .card {
	Width: calc(33% - 20px);
	Background: #222;
	Text-align: center;
	Border-radius: 6px;
	Padding: 20px 25px;
	Cursor: pointer;
	Transition: all 0.3s ease;
}

.services .serv-content .card:hover {
	Background: blueviolet;
}

.services .serv-content .card .box {
	Transition: all 0.3s ease;
}

.services .serv-content .card:hover .box{
	Transform: scale(1.05);
}

.services .serv-content .card I {
	Font-size: 50px;
	Color: royalblue;
	Transition: color 0.3s ease;
}

.services .serv-content .card:hover I {
	Color: #fff;
}

.services .serv-content .card .text {
	Font-size: 25px;
	Font-weight: 500;
	Margin: 10px 0 7px 0;
}

/Pertemuan 30 Sept 2022/
/Skills Section Styling/

.skills .title::after {
	Content: “what I know”;
}

.skills .skills-content .column {
	Width: calc(50% - 30px);
}

.skills .skills-content .left .text {
	Font-size: 25px;
	Font-weight: 600;
	Margin-bottom: 10px;
}

.skills .skills-content .left p {
	Text-align: justify;
}

/Pertemuan 7 Oktober 2022/
.skills .skills-content .left a {
	Display: inline-block;
	Background: blueviolet;
	Color: #fff;
	Font-size: 18px;
	Font-weight: 500;
	Padding: 8px 16px;
	Margin-top: 20px;
	Border-radius: 6px;
	Border: 2px solid blueviolet;
	Transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
	Color: darkblue;
	Background: none;
}

.skills .skills-content .right .bars {
	Margin-bottom: 15px;
}

.skills .skills-content .right .info {
	Display: flex;
	Margin-bottom: 15px;
	Align-items: center;
	Justify-content: space-between;
}

.skills .skills-content .right span {
	Font-weight: 500;
	Font-size: 18px;
}

.skills .skills-content .right .line {
	Height: 5px;
	Width: 100%;
	Background: lightgray;
	Position: relative;
}

.skills .skills-content .right .line::before {
	Content: “”;
	Position: absolute;
	Height: 100%;
	Left: 0;
	Top: 0;
	Background: darkblue;
}

.skills .skills-content .right .html::before {
	Width: 70%;
}

.skills .skills-content .right .css::before {
	Width: 60%;
}

.skills .skills-content .right .javascript::before {
	Width: 50%;
}

.skills .skills-content .right .illustrating::before {
	Width: 70%;
}

.skills .skills-content .right .design::before {
	Width: 60%;
}
/Closed Pertemuan 7 Oktober 2022/
/Pertemuan 14 Oktober 2022/
.teams .title::after {
	Content: “who with me”;
}

.teams .carousel .card {
	Background: #222;
	Border-radius: 6px;
	Padding: 25px 35px;
	Text-align: center;
	Transition: all 0.3s ease;
}

.teams .carousel .card:hover {
	Background: blueviolet;
}

.teams .carousel .card .box {
	Display: flex;
	Flex-direction: column;
	Align-items: center;
	Justify-content: center;
}

.teams .carousel .card:hover .box {
	Transform: scale(1.05);
}

.teams .carousel .card .text {
	Font-size: 25px;
	Font-weight: 500;
	Margin: 10px 0 7px 0;
}

.teams .carousel .card img {
	Height: 150px;
	Width: 150px;
	Object-fit: cover;
	Border-radius: 50%;
	Border: 5px solid blueviolet;
}

.teams .carousel .card:hover img {
	Border-color: #fff;
}

.owl-dots {
	Text-align: center;
	Margin-top: 20px;
}

.owl-dot {
	Height: 13px;
	Width: 13px;
	Margin: 0 5px;
	Outline: none!important;
	Border-radius: 50%;
	Border: 2px solid blueviolet!important;

}

.owl-dot.active {
	Width: 35px;
	Border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
	Background: blueviolet!important;
}
/Closed Pertemuan 14 Oktober 2022/
/Pertemuan 21 Oktober 2022/
.contact .title::after {
	Content: “get in touch”;
}

.contact .contact-content .column {
	Width: calc(50% - 30px);
}

.contact .contact-content .text {
	Font-size: 20px;
	Font-weight: 600;
	Margin-bottom: 10px;
}

.contact .contact-content .left p {
	Text-align: justify;
}

.contact .contact-content .left .icons {
	Margin: 10px;
}

.contact .contact-content .row {
	Display: flex;
	Height: 65px;
	Align-items: center;
}

.contact .contact-content .row .info {
	Margin-left: 30px;
}

.contact .contact-content .row I {
	Font-size: 25px;
	Color: black;
}

.contact .contact-content .info .head {
	Font-weight: 500;
}

.contact .contact-content .info .sub-title {
	Color: darkblue;
}

.contact .right form .fields {
	Display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
	Height: 45px;
	Width: 100%;
	Margin-bottom: 15px;
}

.contact .right form .textarea {
	Height: 80px;
	Width: 100%;
}

.contact .right form .name {
	Margin-left: 10px;
}

.contact .right form .email {
	Margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
	Height: 100%;
	Width: 100%;
	Border: 1px solid lightgray;
	Border-radius: 6px;
	Outline: none;
	Padding: 0 15px;
	Font-size: 17px;
	Font-family: ‘Poppins’ sans-serif;
}

.contact .right form .textarea textarea {
	Padding-top: 10px;
	Resize: none;
}

.contact .right form .button {
	Height: 47px;
	Width: 170px;
}

.contact .right form .button button {
	Width: 100%;
	Height: 100%;
	Border: 2px solid blueviolet;
	Background: blueviolet;
	Color: #fff;
	Font-size: 20px;
	Font-weight: 500;
	Border-radius: 6px;
	Cursor: pointer;
	Transition: all 0.3 ease;
}

.contact .right form .button button:hover {
	Color: black;
	Background: none;
}

/Footer Styling/
Footer{
	Background: #111;
	Padding: 20px 23px;
	Color: #fff;
	Text-align: center;
}

Footer span a {
	Color: blueviolet;
	Text-decoration: none;
}

Footer span a:hover {
	Text-decoration: underline;
}


/Responsive Media Querty Start/

@media (max-width: 1300px) {
	.home.max-wdith {
		Margin-left: 0px;
	}
}

@media (max-width: 1104px) {
	.about.about-content .left img {
		Height: 350px;
		Width: 350px;
	}
}

@media (max-width: 991px) {
	.max-width {
		Padding: 0 50px;
	}
}

@media (max-width: 947px) {
	.menu-btn {
		Display: block;
		z-index: 999;
	}

	.menu-btn i.active:before {
		Content: “\f00d”;
	}

	.navbar .menu {
		Position: fixed;
		Height: 100vh;
		Width: 100%;
		Left: -100%;
		Top: 0;
		Background: #111;
		Text-align: center;
		Padding-top: 80px;
		Transition: all 0.3s ease;
	}

	.navbar .menu.active {
		Left: 0;
	}

	.navbar .menu li {
		Display: block;
	}

	.navbar .menu li a {
		Display: inline-block;
		Margin: 20px 0;
		Font-size: 25px;
	}

	.home .home-content .text-2 {
		Font-size: 70px;
	}

	.home .home-content .text-3 {
		Font-size: 35px;
	}

	.home .home-content a {
		Font-size: 23px;
		Padding: 10px 30px;
	}

	.max-width {
		Max-width: 800px;
	}

	.about .about-content .left {
		Display: flex;
		Justify-content: center;
		Margin: 0 auto 60px;
	}

	.about .about-content .right {
		Flex: 100%;
	}

}

@media (max-width: 690px) {
	.max-width {
		Padding: 0 23px;
	}

	.home .home-content .text-2 {
		Font-size: 60px;
	}

	.home .home-content .text-3 {
		Font-size: 32px;
	}

	.home .home-content a {
		Font-size: 20px;
	}
}
